*.out
*.com
*.log
*.pb
*.wdb
*.dir
*.jou
*.dat
*.str

work
transcript
vish_stacktrace.vstf
.Xil

vivado/results
vivado/reports
vivado/ip
vivado/zedboard
vivado/zybo

zedboard
doc/build/*
doc/!.gitkeep
doc/__pycache__
doc/*.pdf
