*.out
*.com
*.log
*.pb
*.wdb
*.dir
*.jou
*.dat
*.str

work
transcript
vish_stacktrace.vstf
.Xil

dist

app/lenet_bare/src/data
app/lenet/files/data

synth/reports
synth/results

vivado/results
vivado/reports
vivado/ip
vivado/zybo
vivado/zedboard
vivado/zcu102
vivado/linux-zedboard
vivado/linux-zcu102

doc/build/*
doc/!.gitkeep
**/__pycache__
doc/*.pdf
