*.out
*.com
*.log
*.pb
*.wdb
*.dir
*.jou
*.dat
*.str

work
transcript
vish_stacktrace.vstf
.Xil

dist

app/lenet_bare/data

vivado/results
vivado/reports
vivado/ip
vivado/zybo
vivado/zedboard
vivado/zcu102

doc/build/*
doc/!.gitkeep
doc/__pycache__
doc/*.pdf
